[submodule "lain"]
	path = lain
	url = https://github.com/xeon826/lain
    branch=master

[submodule "freedesktop"]
	path = freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git

[submodule "awesome-wm-widgets"]
	path = awesome-wm-widgets
	url = https://github.com/xeon826/awesome-wm-widgets/
    branch=master
